@import url(global.css);

/* nav */
#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  line-height: 0;
  padding-block: 20px;
}

.primary-menu {
  display: flex;
  align-items: center;
  gap: 24px;

  padding-block: 8px;
}

.menu-pic {
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* header */

#about {
  padding-block: 32px;
  display: flex;
  justify-content: space-between;
  font: var(--text-md);
 
}

.profile {
  display: flex;
  gap: 32px;

}

.profile-text {
  width: 384px;
  gap: 8px;
}

.profile-name {
  font: var(--text-lg);
  color: var(--text-color-primary, #313131);
  margin-bottom: 8px;
}

/* aside */

.info {
  display: flex;
  width: 280px;
  
}

.info-list{
  display: flex;
  
  gap: 16px;
  flex-direction: column;
}

.info-item{
  display: flex;
  align-items: center;
  gap: 8px;
}